<style>* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s, background-image 0.3s;
    position: relative;
}

.light-theme {
    background-color: #f0f0f0;
    color: #333;
    background-image: url('https://t.mwm.moe/pc');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dark-theme {
    background-color: #181818;
    color: #333;
    background-image: url('https://t.mwm.moe/mp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    pointer-events: none;
    z-index: 1;
}

.light-theme::before {
    background-color: rgba(255, 255, 255, 0.5);
}

.dark-theme::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 123, 255, 0.7);
    padding: 15px 30px;
    color: white;
    transition: background-color 0.3s;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar .menu-icon {
    cursor: pointer;
    font-size: 24px;
    display: none;
}

.nav-links {
    display: flex;
    align-items: center;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
}

.nav-links a,
.theme-toggle {
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 10px;
    font-weight: bold;
}

.nav-links a:hover,
.theme-toggle:hover {
    background-color: rgba(0, 86, 179, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content-section {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    max-width: 800px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tab {
    position: relative;
    padding: 15px 30px;
    margin: 5px;
    background-color: rgba(0, 123, 255, 0.5);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: rgba(0, 123, 255, 0.7);
}

.tab::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.tab:hover::before {
    opacity: 1;
}

.tab-content {
    display: none;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.tab-content.active {
    display: block;
    opacity: 1;
}

.dark-theme .tab-content p {
    color: #000000;
}

@media (max-width: 768px) {
    .navbar .menu-icon {
        display: block;
    }

    .nav-links {
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .nav-links.active {
        max-height: 300px;
        opacity: 1;
    }

    .nav-links a {
        margin: 10px 0;
    }

    body{
        font-size: 0.9rem;
    }

    h2{
        font-size: 1.2rem;
    }

    ul li{
        font-size: 0.85rem;
    }
}

.bot-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bot-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
}

.bot-card:hover {
    transform: scale(1.05);
}

.bot-card.active {
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
}

.bot-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid rgba(0, 123, 255, 0.7);
}

.bot-info h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
}

.status {
    font-weight: bold;
}

.status.online {
    color: green;
}

.status.offline {
    color: red;
}

.status.test {
    color: rgb(162, 237, 240);
}

.bot-link {
    margin-top: 10px;
    display: inline-block;
    background: rgba(0, 123, 255, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.bot-link:hover {
    background: rgba(0, 123, 255, 1);
}

.bot-detail-wrapper {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

.bot-detail-wrapper.active {
    display: block;
    opacity: 1;
}

.bot-series {
    margin-bottom: 30px;
}

.series-header {
    background: rgba(0, 123, 255, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.series-header:hover {
    background: rgba(0, 123, 255, 1);
}

.series-header h3 {
    margin: 0;
}

.series-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.series-content.active {
    display: flex;
    opacity: 1;
}

.developer-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.developer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease;
}

.developer-card:hover {
    transform: scale(1.05);
}

.developer-card .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-info {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.contact-info.active {
    display: block;
}

#mc-server img{
    width: 100%;
    height: auto;
}

#mc-server ul{
    text-align: left;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    max-width: 100%;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 10px;
}

pre#code-block {
    overflow-x: auto;
    font-size: 0.85rem;
    white-space: pre-wrap;
    max-width: 100%;
    background-color: #f8f9fa;
    padding: 8px;
    border-raphius: 5px;
}

.copy-btn {
    display: inline-block;
    margin-top: 5px;
    text-align: center;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.card{
    padding:8px;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .card{
        flex: 0 0 100%;
        margin-bottom: 16px;
    }
}

@media (max-width: 768px){
    #nav-links{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        color: #333;
        transition: top 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        overflow: hidden;
    }

    #nav-links.active{
        top: 0;
    }

    .menu-icon{
        display: block;
        color: white;
        cursor: pointer;
        font-size: 2.5rem;
        margin-right: 16px;
    }
}

#menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: none;
}

#menu-overlay.active{
    display: block;
}

</style>